In [14]:
champ_name = "유미"
champ_level = 6
champ_hp = 950
champ_line = "나랑 유미랑!"

print("이름 -", champ_name)
print("레벨 -", str(champ_level))
print("체력 -", str(champ_hp))
print("대사 -", champ_line)

이름 - 유미
레벨 - 6
체력 - 950
대사 - 나랑 유미랑!

In [6]:
pokemon = "파이리"
print(f"받아라 몬스터볼~! {pokemon} 넌 내꺼야!")

받아라 몬스터볼~! 파이리 넌 내꺼야!

In [12]:
이름 = input("포켓몬 이름을 입력하세요:", )
레벨 = input("레벨을 입력하세요:", )

In [13]:
print(f"[포켓몬 정보] \n이름 : {이름} \n레벨 : {레벨}")

[포켓몬 정보]
이름 : 이상해씨
레벨 : 8

In [9]:
class Pokemon:
    def __init__(self, name, level):
        self.name = name
        self.level = level
    def say(self):
        print(f"[포켓몬 정보] \n이름 : {self.name} \n레벨 : {self.level}")

이상해씨 = Pokemon("이상해씨", 8)
이상해씨.say()

[포켓몬 정보]
이름 : 이상해씨
레벨 : 8

In [18]:
origin_pass = "1234"
input_pass = input()
if origin_pass == input_pass:
    print("로그인 성공")
elif input_pass == "":
    print("비밀번호를 입력하시오")
else:
    print("다시 입력하시오")

비밀번호를 입력하시오

In [21]:
current_sub = int(input("현재 구독자 수를 입력하세요:",))
if current_sub >= 1000:
    print("수익 창출이 가능합니다.")
else:
    print("수익 창출이 불가능합니다!")

수익 창출이 불가능합니다!

In [28]:
study_time = int(input("공부시간을 입력하세요(시간):",))
if study_time >= 10:
    print("휴대폰 잠금이 해제 됩니다.")
elif study_time >= 5:
    print("휴대폰을 30분간 사용가능합니다.")
else:
    print("휴대폰 사용이 불가능합니다.")

휴대폰 잠금이 해제 됩니다.

In [31]:
for i in range(3):
    print(f"{i+1}번째 강아지 \n강아지를 위한 장난감 준비 중 \n장난감 준비 완료\n")

1번째 강아지
강아지를 위한 장난감 준비 중
장난감 준비 완료

2번째 강아지
강아지를 위한 장난감 준비 중
장난감 준비 완료

3번째 강아지
강아지를 위한 장난감 준비 중
장난감 준비 완료

In [35]:
total = 0
for i in range(11):
    total += i
print(total)

55

In [36]:
i=0
while i<3:
    print("hello world")
    i += 1

hello world
hello world
hello world

In [ ]:
k=int(input("몇 단을 출력할까요?:",))
i=1
while i<10:
    print(f"{k}*{i}={k*i}")
    i += 1

In [ ]:
k=int(input("몇 단을 출력할까요?:",))
for i in range(1,10):
    print(f"{k}*{i}={k*i}")

In [1]:
original_pass = "1234"
while True:
    input_pass = input("비밀번호를 입력하세요 :",)
    if input_pass == original_pass:
        print("로그인 성공!")
        break
    else:
        print("로그인 실패!")

로그인 실패!
로그인 실패!
로그인 성공!

In [2]:
company_list = ["삼성전자", "SK하이닉스", "네이버"]
company_list

['삼성전자', 'SK하이닉스', '네이버']

In [5]:
print(company_list[0])
print(company_list[1])
company_list[2]

삼성전자
SK하이닉스

'네이버'

In [7]:
company_list[0] = "애플"
company_list

['애플', 'SK하이닉스', '네이버']

In [8]:
company_list.append("마이크로소프트")
company_list

['애플', 'SK하이닉스', '네이버', '마이크로소프트']

In [9]:
del company_list[0]
company_list

['SK하이닉스', '네이버', '마이크로소프트']

In [10]:
len(company_list)

3

In [15]:
num_list = [1,2,3,4,5,6,7,8]
num_list[:2]
num_list[::2]
num_list[1::3]
num_list[:4]

[1, 2, 3, 4]

In [17]:
inventory = ["대검", "포션", "마법서"]
for item in inventory:
    print(f"{item}을(를) 획득하였습니다.")
    print("창닫기")

대검을(를) 획득하였습니다.
창닫기
포션을(를) 획득하였습니다.
창닫기
마법서을(를) 획득하였습니다.
창닫기

In [22]:
game_map = [
    ["대검", "포션", None],
    [None, "보물상자", "포션"],
    ["몬스터", None, "열쇠"]
]
type(game_map[0][2])
game_map[1][2]

'포션'

In [29]:
scores = [120,150,180,200,170]
max_score = 0
for i in scores:
    if max_score < i:
        max_score = i
print(f"최고점수 : {max_score}")

최고점수:200

In [45]:
max(scores)

200

In [4]:
room = [
    [3,1,2],
    [2,0,1],
    [1,3,2]
]
sum_1 = []
sum_2 = 0
for i in room:
    sum_1 += i
for i in sum_1:
    sum_2 += i
print(f"총 수집한 아이템 수 : {sum_2}")

총 수집한 아이템 수 : 15

In [5]:
total = 0
for i in rooms:
    total += sum(i)
print(total)

15

In [7]:
#튜플
leg_day = ('스쿼트', '런지', '레그컬')
leg_day

('스쿼트', '런지', '레그컬')

In [8]:
leg_day.append('숄더프레스')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
#딕셔너리
stock_prices = {
    '삼성전자' : 81000,
    'SK하이닉스' : 140000,
    '네이버' : 350000
}
stock_prices

{'삼성전자': 81000, 'SK하이닉스': 140000, '네이버': 350000}

In [11]:
stock_prices['삼성전자']
stock_prices['네이버']

350000

In [18]:
for i in stock_prices.keys():
    print(i)

삼성전자
SK하이닉스
네이버

In [13]:
for value in stock_prices.values():
    print(value)

81000
140000
350000

In [19]:
for key, value in stock_prices.items():
    print(key)
    print(value)
    print(key, value)

삼성전자
81000
삼성전자 81000
SK하이닉스
140000
SK하이닉스 140000
네이버
350000
네이버 350000

In [20]:
for i, j in stock_prices.items():
    print(i)
    print(j)
    print(i, j)

삼성전자
81000
삼성전자 81000
SK하이닉스
140000
SK하이닉스 140000
네이버
350000
네이버 350000

In [51]:
stock_price = {
    '삼성전자' : [81000, 81500, 82000],
    'SK하이닉스' : [140000, 141000, 139500],
    '네이버' : [350000, 355000, 345000]
}

for i, j in stock_price.items():
    print(f"{i} 평균 주식 가격:{int(sum(j)/len(j))}")

삼성전자 평균 주식 가격:81500
SK하이닉스 평균 주식 가격:140166
네이버 평균 주식 가격:350000

In [50]:
stock_info = {
    '삼성전자' : {'최고가':85000, '최저가':80000, '현재가':82000},
    'SK하이닉스' : {'최고가':145000,'최저가':139000, '현재가':140500},
    '네이버' : {'최고가': 360000,'최저가':340000, '현재가':350000}
}

for i,j in stock_info.items():
    print(f"{i}-최고가: {j['최고가']}, 최저가: {j['최저가']}")

삼성전자-최고가: 85000, 최저가: 80000
SK하이닉스-최고가: 145000, 최저가: 139000
네이버-최고가: 360000, 최저가: 340000

In [54]:
def easy_recipe(a,b):
    print(f"{a}와{b}을(를) 이용해서 맛있는 요리를 시작합니다.")
    result = a+b+'볶음밥'
    print("요리 완료!")
    return result

dish = easy_recipe("치즈","불닭")
dish

치즈와불닭을(를) 이용해서 맛있는 요리를 시작합니다.
요리 완료!

'치즈불닭볶음밥'

In [60]:
def cal_average_gold(a,b,c):
    result = (a+b+c)/3
    return result

cal_average_gold(12000,15000,18000)

15000.0

In [61]:
def cal_kda(kill,death,assist):
    result = (kill+assist)/death
    return result

cal_kda(10,2,7)

8.5